$color-primary: #F6F6F6;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-search: #EAEAEA;
$color-tertiary: #99E2D0;
$color-white: #ffffff;
$color-invalid: #DB464B;
$color-footer: #353535;
$color-black: black;
$color-fa-icons-grey: #7E7E7E;
$color-bg-lightbrown:#F7F7F7;



$border-radius-restaurants: 40px 40px 0 0;
$roboto: 'Roboto', sans-serif;
$shrikhand: 'Shrikhand', cursive;